@import "variables";
.wp-policy, .wp-visitor, .wp-faq {
  p {
    font-weight: 300 !important;
    font-size: 100%;
    margin-bottom: 1rem !important;
    strong {font-weight: 700 !important;}
  }
  h5 {
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
    font-weight: 700 !important;
  }
  h2, h3, h4 {
    font-size: 1.25rem;
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
    font-weight: 700 !important;
  }
  ul, ol {
    font-weight: 300 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-size: 100%;
    strong {font-weight: 700 !important;}
  }
}
.wp-list-understanding-bill {
  strong {font-weight: 700!important;}
  li {margin-bottom: 1rem !important;}
}
.wp-aos {
  * {color: var(--text-primary-color)}
}
